<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Raven.Properties.Settings.OnYourWeddingDayConnectionString" connectionString="Data Source=DESKTOP-7CBSM7T;Initial Catalog=OnYourWeddingDay;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
	<!-- Turn off anoument JitDebugger -->
	<system.windows.forms jitDebugging="true"/>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Lib"/>
		</assemblyBinding>
	</runtime>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.Core" publicKeyToken="e8e24ccd28363fe9" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.11.5.1" newVersion="1.11.5.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
