<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HealthCareDirectLineSecret" value="yFLWlpeK3CI.cwA.YsY.zgUzyQ1lj2ELKwj7h2pdBqPyVQsf2zrY1DPJfWbWA3I" />
    <add key="HealthCareBotId" value="HealthCareBotService" />
    <add key="TravelAgencyDirectLineSecret" value="Y_ly-If6haE.cwA.PQE.ZwOOsq4MlHcD3_YLFI-t9oW6L6DXMMBoi67LBz9WaWA" />
    <add key="TravelAgencyBotId" value="Botyo-BotTesting" />
    <add key="AccessToken" value="280344fb165a461a8ccfef7e1bb47e65" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <add name="Settings.NwindConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\Nwind.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="Settings.MusicCollectionConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\MusicCollection.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="Settings.FurnitureConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\Furniture.mdb" providerName="System.Data.OleDb" />
    <add name="Settings.FurnitureConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\Furniture.mdb" providerName="System.Data.OleDb" />
    <add name="Settings.ChartConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\Chart.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="Settings.SchedulerDataConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\SchedulerData.mdb" providerName="System.Data.OleDb" />
    <add name="Settings.SchedulerDragAndDropDataConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\SchedulerDragAndDropData.mdb" providerName="System.Data.OleDb" />
    <add name="Settings.AdventureLT2008ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\AdventureLT2008.mdb" providerName="System.Data.OleDb" />
    <add name="Settings.ChinookConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\Chinook.mdb" providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.NwindConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\Nwind.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.MusicCollectionConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\MusicCollection.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.FurnitureConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\Furniture.mdb" providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.FurnitureConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\Furniture.mdb" providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.ChartConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\Chart.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.SchedulerDataConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\SchedulerData.mdb" providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.SchedulerDragAndDropDataConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\SchedulerDragAndDropData.mdb" providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.AdventureLT2008ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\AdventureLT2008.mdb" providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.ChinookConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\Chinook.mdb" providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.MusicCollectionConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\MusicCollection.mdb" providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.SofiaCarRentalConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\SofiaCarRental.mdb" providerName="System.Data.OleDb" />
    <add name="Settings.SofiaCarRentalConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\SofiaCarRental.mdb" providerName="System.Data.OleDb" />
    <add name="Settings.inventoryConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\GridFirstLook\inventory.mdb" providerName="System.Data.OleDb" />
    <add name="Settings.FurnitureConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\GridFirstLook\Furniture.mdb" providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.ChartViewConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ChartView.mdb" providerName="System.Data.OleDb" />
    <add name="Telerik.Examples.WinControls.Properties.Settings.ChartViewConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DataSources\ChartView.mdb" providerName="System.Data.OleDb" />
    <add name="Settings.MusicCollectionConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\DataSources\MusicCollection.mdb" providerName="System.Data.OleDb" />
    <add name="Settings.ChartViewConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ChartView.mdb" providerName="System.Data.OleDb" />
    <add name="Settings.ChartViewConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DataSources\ChartView.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>